* {
    font-family: 'Josefin Sans', sans-serif;
    --very-dark-grayish-blue: #4d5066;
}

body {
    padding: 2rem 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__change-theme {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.todo__input{

}
